$color-azul: #002855;
$color-celeste: #56A8DC;
$color-verde: #15B16D;
$color-gris: #E8EEF2;
$color-naranja: #EDA846;
$color-marron: #AEA379;
$color-rojo: #DA696A;
$color-marino: #1EA59D;
$font-main: 'Roboto', sans-serif;
