<div class="container">
    <!-- Botón de navegación hacia atrás -->
    <button class="back-button" (click)="goToHome()">
        <i class="pi pi-arrow-left"></i>
    </button>
    
    <p-card class="card">
        <ng-template pTemplate="header">
            <h2 class="title">Historial de Cambios</h2>
        </ng-template>

        <div class="search-section">
            <div class="search-bar">
                <input type="text" placeholder="Buscar por ID o Por Descripción..." class="search-input" [(ngModel)]="searchText" name="search" />
            </div>
            <div class="filter-dropdown">
                <select class="mes-select" [(ngModel)]="selectedMes" name="mes">
                    <option value="">Todos los meses</option>
                    <option *ngFor="let mes of meses" [value]="mes.id">{{ mes.label }}</option>
                </select>
            </div>
            <div class="filter-dropdown">
                <select class="anio-select" [(ngModel)]="selectedAnio" name="anio" (change)="onAnioChange()">
                    <option value="">Todos los años</option>
                    <option *ngFor="let anio of anios" [value]="anio.id">{{ anio.label }}</option>
                </select>
            </div>
        </div>

        <!-- Mensaje cuando no hay elementos -->
        <div class="no-results-message" *ngIf="itemsFiltrados.length === 0">
            <div class="no-results-content">
                <h3>No se encontraron Cambios</h3>
                <p>No hay Cambios que coincidan con los filtros seleccionados.</p>
                <p>Intenta ajustar los criterios de búsqueda.</p>
            </div>
        </div>

        <!-- Lista de elementos filtrados -->
        <div class="blue-rectangle" 
             *ngFor="let item of itemsFiltrados"
             >
            <div class="item-header">
                    <div class="item-info">
                        <h3 class="item-title">Cambio #{{ item.id }}</h3>
                    </div>
                    <div class="item-status">
                        
                    </div>
                </div>
                <div class="divider-line"></div>
                <div class="item-content">
                    <div class="item-description">
                        <p>{{ item.texto }}</p>
                    </div>
                    <div class="item-actions">
                        
                    
                    </div>
                    <div class="item-date">
                        <span class="fecha">{{ getFechaFormateada(item) }} </span>
                    </div>
                </div>
        </div>
    
    </p-card>

    
</div>