<div class="container">
    <p-card class="card">
        <ng-template pTemplate="header">
            <h2 class="title">Lote</h2>
        </ng-template>

        <form>
            <div class="form-grid">
                <!-- Campos de texto -->
                <div class="form-field">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" [(ngModel)]="nombre" name="nombre" pInputText />
                </div>

              <div class="form-field">
                <label for="descripcion">Descripcion</label>
                <textarea
                    id="descripcion"
                    rows="3"
                    [(ngModel)]="descripcion"
                    name="descripcion"
                ></textarea>
                </div>

              <div class="form-field">
                <label for="categoria">Categoria</label>
                 <select [(ngModel)]="selectedCategoria" name="categoria">
                    <option value="">Seleccione una categoría</option>
                    <option *ngFor="let opcion of categoriaOpciones" [value]="opcion">{{ opcion }}</option>
                </select>
              </div>

            </div>

            <div class="submit-btn">
                <button pButton type="submit" label="Realizar Lote" class="p-button-success" (click)="createLote()"></button>
            </div>
        </form>
    </p-card>
</div>
